.main-panel {
    position: relative;
    float: right;
    width: calc(100% - 0px) !important;
    transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
    background-color: #fff;
    background: url(https://authvchnform.cognizant.com/vpn/images/LoginBg.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #eee;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    align-self: center;
    width: 350px;
    padding-left: 15px;
}
.bmd-form-group .bmd-label-floating, .bmd-form-group .bmd-label-placeholder{left:15px}

.loginBox {
    width: 350px;
    height: 293px;
    position: fixed;
    top: 31%;
    margin-left: 10%;
    
    
}

.textDash {
    color: #8e24aa
}

