<!-- <div > -->
    
    <!-- <form>      
        <table class="table">
          <tr>
        <div>
          <input type="text" name="username" id="username"  placeholder="Username" class="form-control">
        </div>
          </tr>
          <tr>
        <div >
          <input type ="password" name="password" id="password"  placeholder="Password" class="form-control"
            id="description">
        </div>
      </tr>
      <tr>
        <div >
          <button type="submit" class="submit btn btn-primary" (click)="login()">Log In</button>          
        </div>
      </tr>
      </table>      
    </form> -->
    
      <!-- Navbar -->

      <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  
          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo">
          <a href="#" class="simple-text logo-normal">
            <img src="../assets/img/cog.png" height="40" width="160">
          </a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav" >
            <li class="nav-item">
              <a class="nav-link" routerLink="/home">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/userlogin">
                <i class="material-icons">person</i>
                <p>CMMA Administrator</p>
              </a>
              </li> 
          </ul>   
        </div>
      </div>


      <div class="main-panel" style="background-color: #eee">
          <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
            <div class="container-fluid">
  
                
                <a href="#" class="simple-text logo-normal">
                    <img [src]="companyLogo" height="40" width="160">
                </a>
                <div class="navbar-wrapper">                  
                  <small class="navbar-brand">{{loggedInUserName}}</small>
                </div>
                
              <div class="collapse navbar-collapse justify-content-end">
                
                <ul class="navbar-nav"> 
  
                    
                  
                  <li class="nav-item">
                    <a class="nav-link" href="userlogin">
                      
                      <button type="button" (click)="logout()" data-background-color="red" class="btn btn-round btn-link btn-sm btn-outline-danger ">Logout</button>                           
                      
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
      <div class="content">
        <div class="container-fluid">
          <div class="row" *ngIf="show">

              <div class="col-lg-4 col-md-3 col-sm-12">
                  <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon" >
                      
                      <div class="card-icon">                            
                        <i class="fa fa-user"></i>
                      </div>
                      <p class="card-category">(CMMA Administrator)</p>
                  <h3 class="card-title">Administrator
                    
                  </h3>
                    </div>
                    <div class="card-footer" style="align-self: center;">
                      <div class="stats" >
                          <button type="submit" (click)="show = !show;createAdminShow = !createAdminShow;instantiateUser()" class="btn btn-success">create</button>                          
                          <button type="submit" (click)="show = !show;createViewShow = !createViewShow;viewAdmin()" class="btn btn-success">view</button>                          
                      </div>
                      <div class="stats" >
                        <select id="lister" name="adminslist" [(ngModel)]= "selectedAdmin" class="form-control">
                          <option >--Select Admin--</option>
                          <option *ngFor="let user of adminList">{{user.fullname}}</option>                    
                        </select>
                      </div>
                    </div>
                  </div>
                </div> 
            
              
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-building"></i>
                  </div>
                  <p class="card-category">(About Your Organisation)</p>
                  <h3 class="card-title">Company Profile
                    
                  </h3>
                </div>
                <div class="card-footer" style="align-self: center;">
                  <div class="stats" >
                      <button type="submit" (click)="toCompanyProfile()" class="btn btn-success">go to company profile</button>
                  </div>
                  
                <!-- <div class="stats" >
                      <button type="submit" (click)="viewCompanyProfile('lister.value')" class="btn btn-success">View</button>
                </div> -->
                <!-- <div class="stats" *ngIf="companyList" >
                  <select id="lister" name="companylist" class="form-control">
                    <option >--Select Company--</option>
                    <option *ngFor="let company of companyList">{{company.name}}</option>                    
                  </select>
                </div> -->
                </div>
                
              </div>
            </div>  

                <div class="col-lg-4 col-md-3 col-sm-12">
                  <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon" >
                      
                      <div class="card-icon">                            
                        <i class="fa fa-user"></i>
                      </div>
                      <p class="card-category">(User of an organisation)</p>
                  <h3 class="card-title">Super User
                    
                  </h3>
                    </div>
                    <div class="card-footer" style="align-self: center;">
                      <div class="stats" >
                          <button type="submit" (click)="show = !show;createSuShow = !createSuShow;instantiateUser()" class="btn btn-success">Create</button>
                          <button type="submit" (click)="show = !show;viewSuShow = !viewSuShow" class="btn btn-success">View</button>
                      </div>
                    </div>
                  </div>
                </div> 

                <div class="col-lg-5 col-md-12">
                    <div class="card">
                      <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title">Active users:</span>
                            <ul class="nav nav-tabs" data-tabs="tabs">
                              <li class="nav-item">
                                <a class="nav-link active" href="#profile" data-toggle="tab">
                                  <i class="material-icons">group</i> Administrator
                                  <div class="ripple-container"></div>
                                </a>
                              </li>
                              
                              <li class="nav-item">
                                <a class="nav-link" href="#messages" data-toggle="tab">
                                  <i class="material-icons">group</i> Superusers
                                  <div class="ripple-container"></div>
                                </a>
                              </li>      
  
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="tab-content">
                          <div class="tab-pane active" id="profile">
                            <table class="table">
                              <tbody>
  
                                  <table class="table table-hover">
                                      <thead style="color: #8e24aa">
                                        <th>Username</th>                          
                                        <th>Last Succesfull Login</th>                          
                                        <th>Organisation</th>
                                      </thead>
                                      <tbody *ngFor="let admins of adminList">
                                        <tr>
                                          <td>{{admins.fullname}}</td>
                                          <td>{{admins.role}}</td>
                                        </tr>                                
                                      </tbody>                        
                                    </table>  
  
                              </tbody>
  
                            </table>
                          </div>
  
                          <div class="tab-pane" id="messages">
                            <table class="table">
                              <tbody>
  
                                  <table class="table table-hover">
                                      <thead style="color: #8e24aa">
                                        <th>Username</th>                          
                                        <th>Last Succesfull Login</th>                          
                                        <th>Organisation</th>
                                      </thead>
                                      <tbody *ngFor="let superuser of superuserList">
                                        <tr>
                                          <td>{{superuser.fullname}}</td>
                                          <td>{{superuser.role}}</td>
                                        </tr>                                
                                      </tbody>                        
                                    </table>
  
                                
  
                              </tbody>
                            </table>
                          </div>
  
                          
  
                        </div>
                      </div>
                    </div>
                  </div>

                <div class="col-lg-6 col-md-3 col-sm-12">
                  <div class="card">
                    <div class="card-header card-header-warning">
                      <h4 class="card-title">Events and notifications</h4>                            
                    </div>
                    <div class="card-body table-responsive">
                      
                    </div>
                    <div class="row">
                    
                  </div>
                  </div>
                </div>

                

                
               
              
            
             
          </div>

          <div class="row" *ngIf="!show && !createAdminShow">
              
                  <div class="col-md-10">
                    <div class="card">
                      <div class="card-header card-header-primary">
                        <h4 class="card-title">Create Administrator</h4>
                        <!-- <p class="card-category">Complete your profile</p> -->
                      </div>
                      <div class="success-div"></div>
                      <div class="card-body">
                          <form #adminForm="ngForm" id="admin" (ngSubmit)="onSubmit(adminForm)">
                              <div class="row">                        
                                <div class="col-md-5">
                                  <div class="form-group">
                                     <label for="fullname" class="bmd-label-floating">Full Name</label>
                                     <input type="text" name="fullname" id="fullname" required minlength="5" maxlength="30" [(ngModel)]="newUser.fullname" #fullname="ngModel" class="form-control">
                                     <div *ngIf="fullname.errors && (fullname.dirty || fullname.touched)" class="alert alert-danger">
                                       <div [hidden]="!fullname.errors.required">
                                          Fullname is required!
                                       </div>
                                       <div [hidden]="!fullname.errors.minlength">
                                        Fullname must be at least 5 characters long.
                                       </div>
                                       <div [hidden]="!fullname.errors.maxlength">
                                        Fullname cannot be more than 30 characters long.
                                       </div>
                                     </div>
                                   </div>
                                 </div>
                              
                                  <div class="col-md-5">
                                     <div class="form-group">
                                        <label class="bmd-label-floating">Username</label>
                                        <input type="text" name="username" id="username" required minlength="5" maxlength="30" [(ngModel)]="newUser.username"  class="form-control" #username="ngModel">
                                        <div *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger">
                                          <div [hidden]="!username.errors.required">
                                            Username is required!
                                          </div>
                                          <div [hidden]="!username.errors.minlength">
                                            Username must be at least 5 characters long.
                                          </div>
                                          <div [hidden]="!username.errors.maxlength">
                                            Username cannot be more than 30 characters long.
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                              </div>
                              <div class="row">                        
                                <div class="col-md-5">
                                   <div class="form-group">
                                      <label class="bmd-label-floating">Password</label>
                                      <input type="password" name="password" id="password" [(ngModel)]="newUser.password"  class="form-control" #password="ngModel">
                                      <!-- <input type="password" name="password" id="password" required pattern="^(?=.*[0-9]+.*)(?=.*[a-zA-Z]+.*)[0-9a-zA-Z]{6,}$" [(ngModel)]="newUser.password"  class="form-control" #password="ngModel"> -->
                                      <!-- <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger"> -->
                                        <!-- <div [hidden]="!password.errors.required">
                                          Password is required!
                                        </div> -->
                                        <!-- <div [hidden]="!password.errors.pattern">
                                          Password must contain at least one letter, at least one number, and be longer than six charaters.
                                        </div> -->
                                      <!-- </div> -->
                                    </div>
                                  </div>
                                                      
                                <div class="col-md-5">
                                   <div class="form-group">
                                      <label class="bmd-label-floating">Email</label>
                                      <input type="text" name="email" id="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="newUser.email"  class="form-control" #email="ngModel">
                                      <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                                        <div [hidden]="!email.errors.required">
                                          Email is required!
                                        </div>
                                        <div [hidden]="!email.errors.pattern">
                                          Must be a valid Email!
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="row">                        
                                <div class="col-md-5">
                                   <div class="form-group">
                                      <label class="bmd-label-floating">Contact No.</label>
                                      <input type="text" name="contact" id="contact" required pattern="^(?=.*[0-9]+.*)\w{10,10}$" [(ngModel)]="newUser.contactnumber"  class="form-control" #contact="ngModel">
                                      <div *ngIf="contact.errors && (contact.dirty || contact.touched)" class="alert alert-danger">
                                        <div [hidden]="!contact.errors.required">
                                          Contact number is required!
                                        </div>
                                        <div [hidden]="!contact.errors.pattern">
                                          Must be 10 digit number!
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                                 
                                <div class="col-md-5">
                                  
                                   <div class="form-group">                                       
                                      <label class="bmd-label-floating">Organisation</label> 
                                      <p>{{companyName}}</p>

                                    </div>
                                  </div>
                              </div>                             
                              
                              
                              <button type="submit" (click)="createAdministrator()" (click)="formSubmit()" class="btn btn-primary pull-right" [disabled]="!adminForm.form.valid">Create</button>
                              <button (click)="show = !show; createAdminShow = !createAdminShow" class="btn btn-primary pull-left">Back</button>
                              <div class="clearfix"></div>
                            </form>
                      </div>           
    
                    </div>
                  </div>
                   
                
          </div>


          <div class="row" *ngIf="!show && !createSuShow">
              
            <div class="col-md-10">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Create Superuser</h4>
                  <!-- <p class="card-category">Complete your profile</p> -->
                </div>
                <div class="success-div"></div>
                <div class="card-body" id="adminCard">
                    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
                        <div class="row">                        
                          <div class="col-md-5">
                             <div class="form-group">
                                <label class="bmd-label-floating">Full Name</label>
                                <input type="text" name="superFullname" id="superFullname"  [(ngModel)]="newUser.fullname" required minlength="5" class="form-control" #superFullname="ngModel">
                                <div *ngIf="superFullname.errors && (superFullname.dirty || superFullname.touched)" class="alert alert-danger">
                                    <div [hidden]="!superFullname.errors.required">
                                       Fullname is required!
                                    </div>
                                    <div [hidden]="!superFullname.errors.minlength">
                                     Fullname must be at least 5 characters long.
                                    </div>
                                </div>
                              </div>
                            </div>
                        
                            <div class="col-md-5">
                               <div class="form-group">
                                  <label class="bmd-label-floating">Username</label>
                                  <input type="text" name="superUsername" id="superUsername"  [(ngModel)]="newUser.username" required minlength="5" class="form-control" #superUsername="ngModel">
                                  <div *ngIf="superUsername.errors && (superUsername.dirty || superUsername.touched)" class="alert alert-danger">
                                      <div [hidden]="!superUsername.errors.required">
                                        Username is required!
                                      </div>
                                      <div [hidden]="!superUsername.errors.minlength">
                                        Username must be at least 5 characters long.
                                      </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="row">                        
                          <div class="col-md-5">
                             <div class="form-group">
                                <label class="bmd-label-floating">Password</label>
                                <input type="password" name="superPassword" id="superPassword" pattern="^(?=.*[0-9]+.*)(?=.*[a-zA-Z]+.*)[0-9a-zA-Z]{6,}$" [(ngModel)]="newUser.password" required class="form-control" #superPassword="ngModel">
                                <div *ngIf="superPassword.errors && (superPassword.dirty || superPassword.touched)" class="alert alert-danger">
                                    <div [hidden]="!superPassword.errors.required">
                                      Password is required!
                                    </div>
                                    <div [hidden]="!superPassword.errors.pattern">
                                      Password must contain at least one letter, at least one number, and be longer than six charaters.
                                    </div>
                                </div>
                              </div>
                            </div>
                                                
                          <div class="col-md-5">
                             <div class="form-group">
                                <label class="bmd-label-floating">Email</label>
                                <input type="text" name="superEmail" id="superEmail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="newUser.email" required class="form-control" #superEmail="ngModel">
                                <div *ngIf="superEmail.errors && (superEmail.dirty || superEmail.touched)" class="alert alert-danger">
                                    <div [hidden]="!superEmail.errors.required">
                                      Email is required!
                                    </div>
                                    <div [hidden]="!superEmail.errors.pattern">
                                      Must be a valid Email!
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="row">                        
                          <div class="col-md-5">
                             <div class="form-group">
                                <label class="bmd-label-floating">Contact No.</label>
                                <input type="text" name="superContactnumber" id="superContactnumber" pattern="^(?=.*[0-9]+.*)\w{10,10}$" [(ngModel)]="newUser.contactnumber" required class="form-control" #superContactnumber="ngModel">
                                <div *ngIf="superContactnumber.errors && (superContactnumber.dirty || superContactnumber.touched)" class="alert alert-danger">
                                    <div [hidden]="!superContactnumber.errors.required">
                                      Contact number is required!
                                    </div>
                                    <div [hidden]="!superContactnumber.errors.pattern">
                                      Must be 10 digit number!
                                    </div>
                                </div>
                              </div>
                            </div>
                                           
                          <div class="col-md-5">
                             <div class="form-group">                                       
                                <label class="bmd-label-floating">Organisation</label> 
                                <select id="lister" name="companylist" class="form-control" [(ngModel)]="companyName">
                                  <option >--Select Company--</option>
                                  <option *ngFor="let company of companyList">{{company.name}}</option>                    
                                </select>

                              </div>
                            </div>
                        </div>                             
                        
                        
                        <button type="submit" (click)="createSuperUser()" (click)="formSubmit()" class="btn btn-primary pull-right" [disabled]="!userForm.form.valid">Create</button>
                        <button (click)="show = !show; createSuShow = !createSuShow" class="btn btn-primary pull-left">Back</button>
                        <div class="clearfix"></div>
                      </form>
                </div>           

              </div>
            </div>
            <div *ngIf="success" class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>User Created successfully !</strong>
            </div>
            <div *ngIf="failuer" class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Please try again later.</strong>
            </div>
          
    </div>

    <div class="row" *ngIf="!show && !viewSuShow">
              
      <div class="col-md-10" >
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Select Superuser</h4>
            <!-- <p class="card-category">Complete your profile</p> -->
          </div>
          <div class="card-body">
              <form>
                  
                  
                  <div class="row">                        
                    
                    <div class="col-md-5">
                       <div class="form-group">                                       
                          <label class="bmd-label-floating">Superusers</label> 
                          <select [(ngModel)]="selectedSuperUser" id="lister" name="superuserlist" class="form-control">
                            <option >--Select Superuser--</option>
                            <option (click)="suview = !suview;viewSuperUser()" *ngFor="let user of superuserList">{{user.fullname}}</option>                    
                          </select>                          
                        </div>
                      </div>
                  </div>                                        
                  
                  
                  <div class="clearfix"></div>
                </form>
          </div>   
          
          <div id="viewadmin" class="row"> 
            <div class="col-md-12">
              <div >
                <div class="card-avatar">
                  <h6 class="card-category text-gray"></h6>
                </div>
                <div >

                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                          <div class="card-header card-header-warning">
                            <h4 class="card-title">User Information</h4>                            
                          </div>
                          <div class="card-body table-responsive">
                            <table class="table table-hover">
                              <thead class="text-warning">
                                <th>Name</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th>Role</th>
                                <th>Organisation</th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>{{viewUser.fullname}}</td>
                                  <td>{{viewUser.email}}</td>
                                  <td>{{viewUser.contactnumber}}</td>
                                  <td>{{viewUser.role}}</td>
                                  <td>{{suCompanyName}}</td>
                                </tr>                                
                              </tbody>
                              <button (click)="show = !show;viewSuShow = !viewSuShow" class="btn btn-primary pull-left">Back</button>                  
                              <button (click)="show = !show;viewSuShow = !viewSuShow" class="btn btn-primary pull-right">Update</button>                  
                              <button (click)="deleteAdmin()" class="btn btn-primary pull-right">Delete</button>                  
                            </table>
                          </div>
                          <div class="row">
                          
                        </div>
                        </div>
                      </div>
                    
                  
                </div>
              </div>
            </div>

      </div>

        </div>
      </div>
       
    
</div>

        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Company name
                </a>
              </li>
              <li>
                <a href="https://creative-tim.com/presentation">
                  About Us
                </a>
              </li>
               
               
            </ul>
          </nav> 
          <div class="copyright float-right">
            
             
             
            
          </div>
        </div>
      </footer>
     </div>