
      <div class="main-panel">
      
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-4 loginBox">
              <div class="card" style="background-color: #0000b3">
                <!-- <div class="card-header card-header-primary" style="background-color: white"> -->
                  <div style="align-self: center;vertical-align: middle">
                   <h4 class="card-title" style="color: white">Log in to CMMA portal</h4>
                  </div>
                  <!-- <p class="card-category">Complete your profile</p> -->
                <!-- </div> -->
                <div class="card-body" style="background-color: #0000b3">
                  <form>
                    <div class="row">
                      
                      <div class="col-xs-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email</label>
                          <input type="text" name="email" id="email"  [(ngModel)]="newUser.email" class="form-control">
                        </div>
                      </div>

                      </div>
                      <div class="row">

                      <div class="col-xs-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Password</label>
                          <input type="password" name="password" id="password"  [(ngModel)]="newUser.password"  class="form-control">
                        </div>
                      </div>
                      
                    </div>
                   
                    <button type="button" (click)="login()" class="btn btn-primary pull-right">Login</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
             
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Company name
                </a>
              </li>
              <li>
                <a href="https://creative-tim.com/presentation">
                  About Us
                </a>
              </li>
               
               
            </ul>
          </nav> 
          <div class="copyright float-right">
            
          </div>
        </div>
      </footer>
     </div>