<!-- <div > -->
    
    <!-- <form>      
        <table class="table">
          <tr>
        <div>
          <input type="text" name="username" id="username"  placeholder="Username" class="form-control">
        </div>
          </tr>
          <tr>
        <div >
          <input type ="password" name="password" id="password"  placeholder="Password" class="form-control"
            id="description">
        </div>
      </tr>
      <tr>
        <div >
          <button type="submit" class="submit btn btn-primary" (click)="login()">Log In</button>          
        </div>
      </tr>
      </table>      
    </form> -->
    
      <!-- Navbar -->

      <div class="sidebar" data-color="green" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  
          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo">
          <a href="#" class="simple-text logo-normal">
            <img src="../assets/img/cog.png" height="40" width="160">
          </a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav" >
            <li class="nav-item">
              <a class="nav-link" routerLink="/home">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/userlogin">
                  <i class="material-icons">person</i>
                  <p>Company Profile</p>
                </a>
                </li> 
          </ul>   
        </div>
      </div>


      <div class="main-panel" style="background-color: #eee">

            
        
        <div class="content"  >
          <div class="container-fluid">
            <div class="row" *ngIf="show">
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                        <i class="fa fa-building"></i>
                      </div>
                      <p class="card-category">(About Your Organisation)</p>
                      <h3 class="card-title">Company Profile
                        
                      </h3>
                    </div>
                    <div class="card-footer" >
                      <div class="stats" >
                          <button  (click)="createShow = !createShow; show = !show" class="btn btn-success">Create</button>
                      </div>
                      
                    <div class="stats" >
                          <button  (click)="viewShow = !viewShow; show = !show" class="btn btn-success">View</button>
                    </div>
                    <div class="stats" *ngIf="companyList" >
                      <select id="lister" name="companylist" class="form-control">
                        <option >--Select Company--</option>
                        <option *ngFor="let company of companyList">{{company.name}}</option>                    
                      </select>
                    </div>
                    </div>
                    
                  </div>
                </div>
              </div>



            <div class="row" *ngIf="!createShow && !show">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">Create Company Profile</h4>
                    <!-- <p class="card-category">Complete your profile</p> -->
                  </div>
                  <div class="card-body">
                      <form #profileForm="ngForm">
                          <div class="row">                        
                            <div class="col-md-6">
                               <div class="form-group">
                                  <label class="bmd-label-floating">Name</label>
                                  <input type="text" name="profileFullname" id="profileFullname" required [(ngModel)]="newCompany.profileFullname"  class="form-control" #profileFullname="ngModel">
                                  <div *ngIf="profileFullname.errors && (profileFullname.dirty || profileFullname.touched)" class="alert alert-danger">
                                      <div [hidden]="!profileFullname.errors.required">
                                         Fullname is required!
                                      </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <div class="row">                        
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="bmd-label-floating">Address Line 1</label>
                                    <input type="text" name="addressl1" id="addressl1"  [(ngModel)]="newCompany.addressl1" required class="form-control" #addressl1="ngModel">
                                    <div *ngIf="addressl1.errors && (addressl1.dirty || addressl1.touched)" class="alert alert-danger">
                                        <div [hidden]="!addressl1.errors.required">
                                          Address is required!
                                        </div>
                                    </div>
                                  </div>
                                </div>
                          </div>
                          <div class="row">                        
                            <div class="col-md-6">
                               <div class="form-group">
                                  <label class="bmd-label-floating">Address Line 2</label>
                                  <input type="text" name="addressl2" id="addressl2"  [(ngModel)]="newCompany.addressl2"  class="form-control">
                                </div>
                              </div>
                          </div>
                          <div class="row">                        
                            <div class="col-md-6">
                               <div class="form-group">
                                  <label class="bmd-label-floating">City</label>
                                  <input type="text" name="city" id="city"  [(ngModel)]="newCompany.city" required class="form-control" #city="ngModel">
                                  <div *ngIf="city.errors && (city.dirty || city.touched)" class="alert alert-danger">
                                      <div [hidden]="!city.errors.required">
                                        Please enter city name!
                                      </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <div class="row">                        
                            <div class="col-md-6">
                               <div class="form-group">
                                  <label class="bmd-label-floating">Pincode</label>
                                  <input type="text" name="pincode" id="pincode"  [(ngModel)]="newCompany.pincode" required class="form-control" #pincode="ngModel">
                                  <div *ngIf="pincode.errors && (pincode.dirty || pincode.touched)" class="alert alert-danger">
                                      <div [hidden]="!pincode.errors.required">
                                        Please enter pincode!
                                      </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <div class="row">                        
                            <div class="col-md-6">
                               <div class="form-group">
                                  <label class="bmd-label-floating">State</label>
                                  <input type="text" name="state" id="state"  [(ngModel)]="newCompany.state" required class="form-control" #state="ngModel">
                                  <div *ngIf="state.errors && (state.dirty || state.touched)" class="alert alert-danger">
                                      <div [hidden]="!state.errors.required">
                                        Please enter state name!
                                      </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <div class="row">                        
                            <div class="col-md-6">
                               <div class="form-group">
                                  <label class="bmd-label-floating">Country</label>
                                  <input type="text" name="country" id="country"  [(ngModel)]="newCompany.country" required class="form-control" #country="ngModel">
                                  <div *ngIf="country.errors && (country.dirty || country.touched)" class="alert alert-danger">
                                      <div [hidden]="!country.errors.required">
                                        Please enter country name!
                                      </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                          
                          <button type="submit" (click)="create()" class="btn btn-primary pull-right" [disabled]="!profileForm.form.valid">Create</button>
                          <button (click)="createShow = !createShow; show = ! show" class="btn btn-primary pull-left">Back</button>
                          <div class="clearfix"></div>
                        </form>
                  </div>           

                </div>
              </div>
               
            </div>

            <div class="row" *ngIf="!viewShow && !show"> 
                <div class="col-md-12">
                  <div class="card card-profile">
                    <div class="card-avatar">
                      <a href="#pablo">
                        <img class="img" src="../assets/img/images.png" />
                      </a>
                    </div>
                    <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Account Info</h4>
                      <p class="card-description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    
    Why do we use it?
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    
      
                      </p>
                      <a href="#pablo" class="btn btn-primary btn-round">Action</a>
                      
                      <button (click)="viewShow = !viewShow; show = ! show" class="btn btn-primary pull-left">Back</button>
                    </div>
                  </div>
                </div>

          </div>
        </div>

        
        </div>
        
        <footer class="footer">
          <div class="container-fluid">
            <nav class="float-left">
              <ul>
                <li>
                  <a href="https://www.creative-tim.com">
                    Company name
                  </a>
                </li>
                <li>
                  <a href="https://creative-tim.com/presentation">
                    About Us
                  </a>
                </li>
                 
                 
              </ul>
            </nav> 
            <div class="copyright float-right">
              
               
               
              
            </div>
          </div>
        </footer>        
       </div>