<!-- <div > -->
    
    <!-- <form>      
        <table class="table">
          <tr>
        <div>
          <input type="text" name="username" id="username"  placeholder="Username" class="form-control">
        </div>
          </tr>
          <tr>
        <div >
          <input type ="password" name="password" id="password"  placeholder="Password" class="form-control"
            id="description">
        </div>
      </tr>
      <tr>
        <div >
          <button type="submit" class="submit btn btn-primary" (click)="login()">Log In</button>          
        </div>
      </tr>
      </table>      
    </form> -->
    
      <!-- Navbar -->

      <div class="sidebar" data-color="green" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  
          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo">
          <a href="#" class="simple-text logo-normal">
            <img src="../assets/img/cog.png" height="40" width="160">
          </a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav" >
            <li class="nav-item">
              <a class="nav-link" routerLink="/home">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/userlogin">
                  <i class="material-icons">person</i>
                  <p>Product Owner</p>
                </a>
                </li> 
          </ul>   
        </div>
      </div>


      <div class="main-panel" style="background-color: #eee">

          <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
              <div class="container-fluid">
    
                  
                  <a href="#" class="simple-text logo-normal">
                      <img [src]="companyLogo" height="40" width="40">
                  </a>
                  <div class="navbar-wrapper">                  
                    <small class="navbar-brand">{{loggedInUserName}}</small>
                  </div>
                  
                <div class="collapse navbar-collapse justify-content-end">                  
                  <ul class="navbar-nav">     
                      
                    
                    <li class="nav-item">
                      <a class="nav-link" href="userlogin">
                        
                        <button type="button" (click)="logout()" data-background-color="red" class="btn btn-round btn-link btn-sm btn-outline-danger ">Logout</button>                           
                        
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>

            
        
        <div class="content"  >
          <div class="container-fluid">
            
            <div class="row" *ngIf="showOptions">

              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                        <i class="fa fa-user"></i>
                      </div>
                      <p class="card-category">(AU)</p>
                      <h3 class="card-title">Appliation User                        
                      </h3>
                    </div>
                    <div class="card-footer" style="align-self: center">
                      <div class="stats" >
                          <button  (click)="createShow = !createShow; show = !show" class="btn btn-success">Create</button>
                      </div>
                      
                    <div class="stats" >
                          <button  (click)="viewShow = !viewShow; show = !show" class="btn btn-success">View</button>
                    </div>
                    
                    </div>
                    
                  </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                      <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                          <i class="fa fa-user"></i>
                        </div>
                        <p class="card-category">(CMMA)</p>
                        <h3 class="card-title">Dashboard                          
                        </h3>
                      </div>
                      <div class="card-footer" style="align-self: center">
                      <div class="stats" >
                            <button  (click)="viewDashboard()" class="btn btn-success">View Dashboard</button>
                      </div>
                      
                      </div>
                      
                    </div>
                  </div>

              </div>

              
                 
                

                <div class="row" *ngIf="!showOptions && showDashboard"> 
                    <div class="col-md-12">
                      <div class="card card-profile">
                        <div class="card-avatar">
                          <a href="#pablo">
                            <img class="img" src="../assets/img/images.png" />
                          </a>
                        </div>
                        <div class="card-body">
                          <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                          <h4 class="card-title">Account Info</h4>
                          <p class="card-description">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        
        Why do we use it?
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        
          
                          </p>
                          <a href="#pablo" class="btn btn-primary btn-round">Action</a>
                          
                          <button (click)="hideDashboard()" class="btn btn-primary pull-left">Back</button>
                        </div>
                      </div>
                    </div>
    
              </div>

        </div>

        
        </div>
        
        <footer class="footer">
          <div class="container-fluid">
            <nav class="float-left">
              <ul>
                <li>
                  <a href="https://www.creative-tim.com">
                    Company name
                  </a>
                </li>
                <li>
                  <a href="https://creative-tim.com/presentation">
                    About Us
                  </a>
                </li>
                 
                 
              </ul>
            </nav> 
            <div class="copyright float-right">
              
               
               
              
            </div>
          </div>
        </footer>        
       </div>

       <script>
       
       </script>