<!-- <div > -->
    
    <!-- <form>      
        <table class="table">
          <tr>
        <div>
          <input type="text" name="username" id="username"  placeholder="Username" class="form-control">
        </div>
          </tr>
          <tr>
        <div >
          <input type ="password" name="password" id="password"  placeholder="Password" class="form-control"
            id="description">
        </div>
      </tr>
      <tr>
        <div >
          <button type="submit" class="submit btn btn-primary" (click)="login()">Log In</button>          
        </div>
      </tr>
      </table>      
    </form> -->
    
      <!-- Navbar -->

      <!-- <div class="sidebar" data-color="orange" data-background-color="white" data-image="../assets/img/sidebar-1.jpg" > -->
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  
          Tip 2: you can also add an image using data-image tag
      -->
        <!-- <div class="logo">
          <a href="#" class="simple-text logo-normal">
            <img src="../assets/img/cog.png" height="40" width="160">
          </a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav" >
            <li class="nav-item active">
              <a class="nav-link" routerLink="/home">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/userlogin">
                <i class="material-icons">person</i>
                <p>Login/Registration</p>
              </a>
              </li> 
          </ul>   
        </div>
      </div> -->


      <div class="main-panel" style="background-color: #eee">

      <div class="main-panel" style="background-color: #eee">
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
          <div class="container-fluid">
            
            <div class="collapse navbar-collapse justify-content-end">
              
              <ul class="navbar-nav"> 
                
                <li class="nav-item">
                  <a class="nav-link">
                    <i class="material-icons">person</i>
                    <small  routerLink="/userlogin" style="color:green" *ngIf="!loggedInUser">Login</small>                    
                    <small style="color:red" *ngIf="loggedInUser">Logout</small>                    
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      <!-- Navbar -->
      <!-- <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
            <ul class="navbar-nav">
               
              <li class="nav-item dropdown">
                <a class="nav-link" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">notifications</i>
                  <span class="notification">4</span>
                  <p class="d-lg-none d-md-block">
                    Some Actions
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">ABC responded to your email</a>
                  <a class="dropdown-item" href="#">You have 5 new tasks</a> 
                  <a class="dropdown-item" href="#">Another Notification</a>
                  <a class="dropdown-item" href="#">Another One</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav> -->
      <!-- End Navbar -->
     <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Company name
                </a>
              </li>
              <li>
                <a href="https://creative-tim.com/presentation">
                  About Us
                </a>
              </li>
               
               
            </ul>
          </nav> 
          <div class="copyright float-right">
            
             
             
            
          </div>
        </div>
      </footer>
     </div>