<!-- <div > -->
    
    <!-- <form>      
        <table class="table">
          <tr>
        <div>
          <input type="text" name="username" id="username"  placeholder="Username" class="form-control">
        </div>
          </tr>
          <tr>
        <div >
          <input type ="password" name="password" id="password"  placeholder="Password" class="form-control"
            id="description">
        </div>
      </tr>
      <tr>
        <div >
          <button type="submit" class="submit btn btn-primary" (click)="login()">Log In</button>          
        </div>
      </tr>
      </table>      
    </form> -->
    
      <!-- Navbar -->

      <div class="sidebar" data-color="green" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  
          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo">
          <a href="#"  class="simple-text logo-normal">
            <img src="../assets/img/cog.png" height="40" width="160">
          </a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav" >
            <li class="nav-item">
              <a class="nav-link" routerLink="/home">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/userlogin">
                <i class="material-icons">person</i>
                <p>Superuser</p>
              </a>
              </li> 
          </ul>   
        </div>
      </div>


      <div class="main-panel" style="background-color: #eee">
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
          <div class="container-fluid">

              
              <a href="#" class="simple-text logo-normal">
                  <img [src]="companyLogo" height="40" width="40">
              </a>
              <div class="navbar-wrapper">                  
                <small class="navbar-brand">{{loggedInUserName}}</small>
              </div>
              
            <div class="collapse navbar-collapse justify-content-end">
              
              <ul class="navbar-nav"> 

                  
                
                <li class="nav-item">
                  <a class="nav-link" href="userlogin">
                    
                    <button type="button" (click)="logout()" data-background-color="red" class="btn btn-round btn-link btn-sm btn-outline-danger ">Logout</button>                           
                    
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      <!-- End Navbar --> 
            
        
                
           

       
           
               
              
                <div class="content">
                  <div class="container-fluid">
                      <div class="row">

                          <div class="col-lg-3 col-md-6 col-sm-6">
                              <div class="card card-stats">
                                <div class="card-header card-header-success card-header-icon" >
                                  
                                  <div class="card-icon">                            
                                    <i class="fa fa-user"></i>
                                  </div>
                                  <p class="card-category">(Organisation's Business Domain)</p>
                              <h3 class="card-title">Business Domain
                                
                              </h3>
                                </div>
                                <div class="card-footer" style="align-self: center;">
                                  <div class="stats" >
                                      <button type="submit" (click)="toApplicationDomain()" class="btn btn-success">go to business domain</button>                          
                                  </div>
                                </div>
                              </div>
                          </div> 
                        
                          
                        <div class="col-xs-3 col-md-3 col-sm-3">
                          <div class="card card-stats">
                            <div class="card-header card-header-success card-header-icon">
                              <div class="card-icon">
                                <i class="fa fa-building"></i>
                              </div>
                              <p class="card-category">(Organisation's IT Application)</p>
                              <h3 class="card-title">Applications                                
                              </h3>
                            </div>
                            <div class="card-footer" style="align-self: center;">
                              <div class="stats" >
                                  <button type="submit" (click)="toApplication()" class="btn btn-success">go to applications</button>
                              </div>
                            </div>
                           </div>
                        </div>  
            
                            <div class="col-xs-3 col-md-3 col-sm-3">
                              <div class="card card-stats">
                                <div class="card-header card-header-success card-header-icon" >
                                  
                                  <div class="card-icon">                            
                                    <i class="fa fa-user"></i>
                                  </div>
                                  <p class="card-category">(Organisation's Product Owner)</p>
                              <h3 class="card-title">Product Owner
                                
                              </h3>
                                </div>
                                <div class="card-footer" style="align-self: center;">
                                  <div class="stats" >
                                      <button type="submit" (click)="toProductOwner()" class="btn btn-success">go to product owner</button>
                                  </div>
                                </div>
                              </div>
                            </div> 
                           
                          
                        
                         
                      </div>
                  </div>
                </div>   

         
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Company name
                </a>
              </li>
              <li>
                <a href="https://creative-tim.com/presentation">
                  About Us
                </a>
              </li>
               
               
            </ul>
          </nav> 
          <div class="copyright float-right">
            
             
             
            
          </div>
        </div>
      </footer>
     </div>