<!-- <div > -->
    
    <!-- <form>      
        <table class="table">
          <tr>
        <div>
          <input type="text" name="username" id="username"  placeholder="Username" class="form-control">
        </div>
          </tr>
          <tr>
        <div >
          <input type ="password" name="password" id="password"  placeholder="Password" class="form-control"
            id="description">
        </div>
      </tr>
      <tr>
        <div >
          <button type="submit" class="submit btn btn-primary" (click)="login()">Log In</button>          
        </div>
      </tr>
      </table>      
    </form> -->
    
      <!-- Navbar -->

      <div class="sidebar" data-color="green" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  
          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo">
          <a href="#"  class="simple-text logo-normal">
            <img src="../assets/img/cog.png" height="40" width="160">
          </a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav" >
            <li class="nav-item">
              <a class="nav-link" routerLink="/home">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/userlogin">
                <i class="material-icons">person</i>
                <p>Superuser</p>
              </a>
              </li> 
          </ul>   
        </div>
      </div>


      <div class="main-panel" style="background-color: #eee">
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
          <div class="container-fluid">

              
              <a href="#" class="simple-text logo-normal">
                  <img [src]="companyLogo" height="40" width="40">
              </a>
              <div class="navbar-wrapper">                  
                <small class="navbar-brand">{{loggedInUserName}}</small>
              </div>
              
            <div class="collapse navbar-collapse justify-content-end">
              
              <ul class="navbar-nav"> 

                  
                
                <li class="nav-item">
                  <a class="nav-link" href="userlogin">
                    
                    <button type="button" (click)="logout()" data-background-color="red" class="btn btn-round btn-link btn-sm btn-outline-danger ">Logout</button>                           
                    
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      <!-- End Navbar --> 
            
        
                
           

       
           
               
              
                <div class="content">
                  <div class="container-fluid">

                      <div class="row" *ngIf="showOptions">

                          <div class="col-lg-3 col-md-6 col-sm-6">
                              <div class="card card-stats">
                                <div class="card-header card-header-success card-header-icon" >
                                  
                                  <div class="card-icon">                            
                                    <i class="fa fa-user"></i>
                                  </div>
                                  <p class="card-category">(Organisation's Business Domain)</p>
                              <h3 class="card-title">Business Domain
                                
                              </h3>
                                </div>
                                <div class="card-footer" style="align-self: center;">
                                  <div class="stats" >
                                      <button type="submit" (click)="toApplicationDomain()" class="btn btn-success">go to business domain</button>                          
                                  </div>
                                </div>
                              </div>
                          </div> 
                        
                          
                        <div class="col-xs-3 col-md-3 col-sm-3">
                          <div class="card card-stats">
                            <div class="card-header card-header-success card-header-icon">
                              <div class="card-icon">
                                <i class="fa fa-building"></i>
                              </div>
                              <p class="card-category">(Organisation's IT Application)</p>
                              <h3 class="card-title">Applications                                
                              </h3>
                            </div>
                            <div class="card-footer" style="align-self: center;">
                              <div class="stats" >
                                  <button type="submit" (click)="toApplication()" class="btn btn-success">go to applications</button>
                              </div>
                            </div>
                           </div>
                        </div>  
            
                        
                          <div class="col-xs-3 col-md-3 col-sm-3">
                              <div class="card card-stats">
                                <div class="card-header card-header-success card-header-icon">
                                  <div class="card-icon">
                                    <i class="fa fa-user"></i>
                                  </div>
                                  <p class="card-category">(PO)</p>
                                  <h3 class="card-title">Product Owner
                                    
                                  </h3>
                                </div>
                                <div class="card-footer" style="align-self: center">
                                  <div class="stats" >
                                      <button  (click)="createPo()" class="btn btn-success">Create PO</button>
                                  </div>
                                  
                                <div class="stats" >
                                      <button  (click)="viewShow = !viewShow; show = !show" class="btn btn-success">View PO</button>
                                </div>
                                
                                </div>
                                
                              </div>
                            </div>

                            <div class="col-xs-3 col-md-3 col-sm-3">
                                <div class="card card-stats">
                                  <div class="card-header card-header-success card-header-icon">
                                    <div class="card-icon">
                                      <i class="fa fa-user"></i>
                                    </div>
                                    <p class="card-category">(Agile, Operations etc..)</p>
                                    <h3 class="card-title">Project Type
                                      
                                    </h3>
                                  </div>
                                  <div class="card-footer" style="align-self: center">
                                    <div class="stats" >
                                        <button  (click)="createPrj()" class="btn btn-success">Create</button>
                                    </div>
                                    
                                  <div class="stats" >
                                        <button  (click)="viewShow = !viewShow; show = !show" class="btn btn-success">View</button>
                                  </div>
                                  <div class="stats" >
                                      <select id="lister" name="projectlist" [(ngModel)]= "selectedProject" class="form-control">
                                        <option >--Select Project--</option>
                                        <option *ngFor="let project of projectList">{{project.name}}</option>                    
                                      </select>
                                    </div>
                                  
                                  </div>
                                  
                                </div>
                              </div>

                              <div class="col-xs-3 col-md-3 col-sm-3">
                                <div class="card card-stats">
                                  <div class="card-header card-header-success card-header-icon">
                                    <div class="card-icon">
                                      <i class="fa fa-user"></i>
                                    </div>
                                    <p class="card-category">(Template)</p>
                                    <h3 class="card-title">CMMA Metadata
                                      
                                    </h3>
                                  </div>
                                  <div class="card-footer" style="align-self: center">
                                    <div class="stats" >
                                        <button  (click)="createCmmaTemp()" class="btn btn-success">Create</button>
                                    </div>
                                    
                                  <div class="stats" >
                                        <button  (click)="viewShow = !viewShow; show = !show" class="btn btn-success">View</button>
                                  </div>                                  
                                  
                                  </div>
                                  
                                </div>
                              </div>
                          
                           
                          
                        
                         
                      </div>

                      <div class="row" *ngIf="!showOptions && viewCrePo">
              
                          <div class="col-md-10">
                            <div class="card">
                              <div class="card-header card-header-primary">
                                <h4 class="card-title">Create Product Owner</h4>
                                <!-- <p class="card-category">Complete your profile</p> -->
                              </div>
                              <div class="card-body">
                                  <form id="poForm">
                                      <div class="row">                        
                                        <div class="col-md-5">
                                           <div class="form-group">
                                              <label class="bmd-label-floating">Full Name</label>
                                              <input type="text" name="fullname"  #fullname="ngModel" id="fullname" required minlength="8"  [(ngModel)]="newUser.fullname"  class="form-control">
        
                                              <div *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)"
                                                    class="alert alert-danger">
        
                                              <div *ngIf="fullname.errors.required">
                                                    Name is required.
                                              </div>
                                              <div *ngIf="fullname.errors.minlength">
                                                  Name must be at least 8 characters long.
                                               </div>                                       
        
                                                </div>
        
                                            </div>
                                          </div>
                                      
                                          <div class="col-md-5">
                                             <div class="form-group">
                                                <label class="bmd-label-floating">Username</label>
                                                <input type="text" name="username" id="username"  [(ngModel)]="newUser.username"  class="form-control">
                                              </div>
                                            </div>
                                      </div>
                                      <div class="row">                        
                                        <div class="col-md-5">
                                           <div class="form-group">
                                              <label class="bmd-label-floating">Password</label>
                                              <input type="password" name="password" id="password"  [(ngModel)]="newUser.password"  class="form-control">
                                            </div>
                                          </div>
                                                              
                                        <div class="col-md-5">
                                           <div class="form-group">
                                              <label class="bmd-label-floating">Email</label>
                                              <input type="text" name="email" id="email"  [(ngModel)]="newUser.email"  class="form-control">
                                            </div>
                                          </div>
                                      </div>
                                      <div class="row">                        
                                        <div class="col-md-5">
                                           <div class="form-group">
                                              <label class="bmd-label-floating">Contact No.</label>
                                              <input type="text" name="contact" id="contact"  [(ngModel)]="newUser.contactnumber"  class="form-control">
                                            </div>
                                          </div>
                                                         
                                          <div class="col-md-5">
                                          
                                            <div class="form-group">                                       
                                               <label class="bmd-label-floating">Organisation</label> 
                                               <p>{{companyName}}</p>
         
                                             </div>
                                           </div>                                           
                                          <div class="col-md-5">
                                              <div class="form-group">                                       
                                                 <label class="bmd-label-floating">Domain</label> 
                                                 <select (click)="filterApps()" id="domainList" name="domainlist" class="form-control" [(ngModel)]="domainName">
                                                   <option >--Select Domain--</option>
                                                   <option (click)="filterApps()" *ngFor="let domain of domainList">{{domain.name}}</option>                    
                                                 </select>
                 
                                               </div>
                                             </div>
                                             <div class="col-md-5">
                                                <div class="form-group">                                       
                                                   <label class="bmd-label-floating">Applications</label> 
                                                   <select id="domainList" name="domainlist" class="form-control" multiple="multiple" [(ngModel)]="mappedApplications">
                                                     <option >--Select Application--</option>
                                                     <option *ngFor="let application of applicationList">{{application.name}}</option>                    
                                                   </select>
                   
                                                 </div>
                                               </div>
                                      </div>                             
                                      
                                      
                                      <button type="submit" (click)="createProductOwner()" class="btn btn-primary pull-right ">Create</button>
                                      <button (click)="show = !show; createPoShow = !createPoShow" class="btn btn-primary pull-left">Back</button>
                                      <div class="clearfix"></div>
                                    </form>
                              </div>           
              
                            </div>
                          </div>
                           
                        
                  </div>

                  <div class="row" *ngIf="!showOptions && viewCrePrj">
              
                      <div class="col-md-10">
                        <div class="card">
                          <div class="card-header card-header-primary">
                            <h4 class="card-title">Create Project</h4>
                            <!-- <p class="card-category">Complete your profile</p> -->
                          </div>
                          <div class="card-body">
                              <form id="poForm">
                                  <div class="row">                        
                                    <div class="col-md-5">
                                       <div class="form-group">
                                          <label class="bmd-label-floating">Name</label>

                                          <input type="text" name="projectname"  id="projectname" required minlength="8"  [(ngModel)]="newProject.name"  class="form-control">
    
                                      
    
                                        </div>
                                      </div>
                                      </div>
                                      <div class="row">
                                      <div class="col-md-5">
                                         <div class="form-group">
                                            <label class="bmd-label-floating">Description</label>
                                            <input type="text" name="description" id="description"  [(ngModel)]="newProject.description"  class="form-control">
                                          </div>                                                                            
                                        </div>
                                  </div>
                               
                                                       
                                  
                                  
                                  <button type="submit" (click)="createProject()" class="btn btn-primary pull-right ">Create</button>
                                  <button (click)="hidePrj()" class="btn btn-primary pull-left">Back</button>
                                  <div class="clearfix"></div>
                                </form>
                          </div>           
          
                        </div>
                      </div>
                       
                    
              </div>

              <div class="row" *ngIf="!showOptions && viewCrecmmatep">
              
                <div class="col-md-10">
                  <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title">Create CMMA Metadata Template</h4>
                      <!-- <p class="card-category">Complete your profile</p> -->
                    </div>
                    <div class="card-body">
                      <div class="row">                        
                    
                        <div class="col-md-3">
                             <div class="form-group">                                       
                                <label class="bmd-label-floating">1] Mapping</label> 
                                <select (click)="populateProcessArea()" [(ngModel)]="selectedMapping" id="lister" name="superuserlist" class="form-control">
                                  <option>--Select Mapping--</option>
                                  <option  *ngFor="let cmmamapping of cmmaSet">{{cmmamapping}}</option>                                                      
                                </select>                          
                              </div>
                            </div>
      
                            <div class="col-md-3">
                              <div class="form-group">                                       
                                 <label class="bmd-label-floating">2] Process Area</label> 
                                 <select (click)="filterParameter()" [(ngModel)]="selectedProcessArea" id="lister" name="superuserlist" class="form-control">
                                   <option >--Select Process Area--</option>
                                   <option (click)="suview = !suview;viewSuperUser()" *ngFor="let processArea of processAreaList">{{processArea.processarea}}</option>                                                       
                                 </select>                          
                               </div>
                             </div>
      
                             <div class="col-md-3">
                              <div class="form-group">                                       
                                 <label class="bmd-label-floating">3] Parameter</label> 
                                 <select [(ngModel)]="selectedParameter" id="lister" name="superuserlist" class="form-control">
                                   <option >--Select Parameter--</option>
                                   <option (click)="suview = !suview;viewSuperUser()" *ngFor="let param of cmmaMdParamLevelsByCmdmid">{{param.parameter}}</option>                    
                                   <option (select) = "displayOtherParameter()">--Other Parameter--</option>
                                 </select>                          
                               </div>
                             </div>                            
      
                        </div>      
                        
                        <div class="row" >                        
                    
                              <div class="col-md-3" >
                                <div class="form-group">                                       
                                  <label class="bmd-label-floating">Other Mapping</label> 
                                  <input [(ngModel)]="otherMapping" type="text" name="othermapping" id="othermapping"  class="form-control">                                                            
                                </div>
                              </div>

                              <div class="col-md-3" >
                                  <div class="form-group">                                       
                                    <label class="bmd-label-floating">Other Process Area</label> 
                                    <input [(ngModel)]="otherProcessArea" type="text" name="otherprocessarea" id="otherprocessarea"  class="form-control">                                                            
                                  </div>
                              </div>

                              <div class="col-md-3">
                                  <div class="form-group">                                       
                                    <label class="bmd-label-floating">Other Parameter</label> 
                                    <input [(ngModel)]="otherParameter" type="text" name="otherparameter" id="otherparameter"  class="form-control">                                                            
                                  </div>
                              </div>            
        
                          </div> 

                        <div class="row" >                        
                    
                              <div class="col-md-9">
                                  <div class="form-group">                                       
                                    <label class="bmd-label-floating">Level 1</label>                                         
                                    <textarea [(ngModel)]="cmmaMetadataParameterLevel.level1" class="form-control rounded-0" id="level1Textarea2" rows="3" class="form-control"></textarea>                                                        
                                  </div>
                              </div>            
        
                        </div> 

                        <div class="row" >                        
                    
                            <div class="col-md-9">
                                <div class="form-group">                                       
                                  <label class="bmd-label-floating">Level 2</label>                                         
                                  <textarea [(ngModel)]="cmmaMetadataParameterLevel.level2" class="form-control rounded-0" id="level1Textarea2" rows="3" class="form-control"></textarea>                                                        
                                </div>
                            </div>            
      
                      </div> 

                      <div class="row" >                        
                    
                          <div class="col-md-9">
                              <div class="form-group">                                       
                                <label class="bmd-label-floating">Level 3</label>                                         
                                <textarea [(ngModel)]="cmmaMetadataParameterLevel.level3" class="form-control rounded-0" id="level1Textarea2" rows="3" class="form-control"></textarea>                                                        
                              </div>
                          </div>            
    
                    </div> 

                    <div class="row" >                        
                
                        <div class="col-md-9">
                            <div class="form-group">                                       
                              <label class="bmd-label-floating">Level 4</label>                                         
                              <textarea [(ngModel)]="cmmaMetadataParameterLevel.level4" class="form-control rounded-0" id="level1Textarea2" rows="3" class="form-control"></textarea>                                                        
                            </div>
                        </div>            
  
                  </div> 

                  <div class="row" >                        
                
                      <div class="col-md-9">
                          <div class="form-group">                                       
                            <label class="bmd-label-floating">Level 5</label>                                         
                            <textarea [(ngModel)]="cmmaMetadataParameterLevel.level5" class="form-control rounded-0" id="level1Textarea2" rows="3" class="form-control"></textarea>                                                        
                          </div>
                      </div>            

                </div> 

                <button type="submit" (click)="createCmmaMetadataParameterLevel()" class="btn btn-primary pull-right ">Create</button>
      
                    </div>           
    
                  </div>
                </div>
                 
              
        </div>

                  </div>
                </div>   

         
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Company name
                </a>
              </li>
              <li>
                <a href="https://creative-tim.com/presentation">
                  About Us
                </a>
              </li>
               
               
            </ul>
          </nav> 
          <div class="copyright float-right">
            
             
             
            
          </div>
        </div>
      </footer>
     </div>