<!-- <div > -->
    
    <!-- <form>      
        <table class="table">
          <tr>
        <div>
          <input type="text" name="username" id="username"  placeholder="Username" class="form-control">
        </div>
          </tr>
          <tr>
        <div >
          <input type ="password" name="password" id="password"  placeholder="Password" class="form-control"
            id="description">
        </div>
      </tr>
      <tr>
        <div >
          <button type="submit" class="submit btn btn-primary" (click)="login()">Log In</button>          
        </div>
      </tr>
      </table>      
    </form> -->
    
      <!-- Navbar -->

      <div class="sidebar" data-color="green" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  
          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo">
          <a href="#" class="simple-text logo-normal">
            <img src="../assets/img/cog.png" height="40" width="160">
          </a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav" >
            <li class="nav-item">
              <a class="nav-link" routerLink="/home">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/userlogin">
                  <i class="material-icons">person</i>
                  <p>Product Owner</p>
                </a>
                </li> 
          </ul>   
        </div>
      </div>


      <div class="main-panel" style="background-color: #eee">

          <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
              <div class="container-fluid">
    
                  
                  <a href="#" class="simple-text logo-normal">
                      <img [src]="companyLogo" height="40" width="40">
                  </a>
                  <div class="navbar-wrapper">                  
                    <small class="navbar-brand">{{loggedInUserName}}</small>
                  </div>
                  
                <div class="collapse navbar-collapse justify-content-end">                  
                  <ul class="navbar-nav">     
                      
                    
                    <li class="nav-item">
                      <a class="nav-link" href="userlogin">
                        
                        <button type="button" (click)="logout()" data-background-color="red" class="btn btn-round btn-link btn-sm btn-outline-danger ">Logout</button>                           
                        
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>

            
        
        <div class="content"  >
          <div class="container-fluid">
            
            <div class="row" *ngIf="showOptions">

              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                        <i class="fa fa-user"></i>
                      </div>
                      <p class="card-category">(AU)</p>
                      <h3 class="card-title">Appliation User                        
                      </h3>
                    </div>
                    <div class="card-footer" style="align-self: center">
                      <div class="stats" >
                          <button  (click)="viewCreateAppUser()" class="btn btn-success">Create</button>
                      </div>
                      
                    <div class="stats" >
                          <button  (click)="viewShow = !viewShow; show = !show" class="btn btn-success">View</button>
                    </div>
                    
                    </div>
                    
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                      <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                          <i class="fa fa-archive"></i>
                        </div>
                        <p class="card-category">(CMMA)</p>
                        <h3 class="card-title">Configure Cmma Template                          
                        </h3>
                      </div>
                      <div class="card-footer" style="align-self: center">
                      <div class="stats" >
                            <button  (click)="viewDashboard()" class="btn btn-success">Configure Dashboard</button>
                      </div>
                      
                      </div>
                      
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                      <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                          <i class="fa fa-archive"></i>
                        </div>
                        <p class="card-category">(CMMA)</p>
                        <h3 class="card-title">Dashboard                          
                        </h3>
                      </div>
                      <div class="card-footer" style="align-self: center">
                      <div class="stats" >
                            <button  (click)="viewFinalDashboard()" class="btn btn-success">View Dashboard</button>
                      </div>
                      
                      </div>
                      
                    </div>
                  </div>

              </div>

              <div class="row" *ngIf="!showOptions && showCreateAppUser">
              
                <div class="col-md-10">
                  <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title">Create Application User</h4>
                      <!-- <p class="card-category">Complete your profile</p> -->
                    </div>
                    <div class="card-body">
                        <form id="poForm">
                            <div class="row">                        
                              <div class="col-md-5">
                                 <div class="form-group">
                                    <label class="bmd-label-floating">Full Name</label>
                                    <input type="text" name="fullname"  #fullname="ngModel" id="fullname" required minlength="8"  [(ngModel)]="newUser.fullname"  class="form-control">

                                    <div *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)"
                                          class="alert alert-danger">

                                    <div *ngIf="fullname.errors.required">
                                          Name is required.
                                    </div>
                                    <div *ngIf="fullname.errors.minlength">
                                        Name must be at least 8 characters long.
                                     </div>                                       

                                      </div>

                                  </div>
                                </div>
                            
                                <div class="col-md-5">
                                   <div class="form-group">
                                      <label class="bmd-label-floating">Username</label>
                                      <input type="text" name="username" id="username"  [(ngModel)]="newUser.username"  class="form-control">
                                    </div>
                                  </div>
                            </div>
                            <div class="row">                        
                              <div class="col-md-5">
                                 <div class="form-group">
                                    <label class="bmd-label-floating">Password</label>
                                    <input type="password" name="password" id="password"  [(ngModel)]="newUser.password"  class="form-control">
                                  </div>
                                </div>
                                                    
                              <div class="col-md-5">
                                 <div class="form-group">
                                    <label class="bmd-label-floating">Email</label>
                                    <input type="text" name="email" id="email"  [(ngModel)]="newUser.email"  class="form-control">
                                  </div>
                                </div>
                            </div>
                            <div class="row">                        
                              <div class="col-md-5">
                                 <div class="form-group">
                                    <label class="bmd-label-floating">Contact No.</label>
                                    <input type="text" name="contact" id="contact"  [(ngModel)]="newUser.contactnumber"  class="form-control">
                                  </div>
                                </div>
                                               
                                <div class="col-md-5">
                                
                                  <div class="form-group">                                       
                                     <label class="bmd-label-floating">Organisation</label> 
                                     <p>{{companyName}}</p>

                                   </div>
                                 </div>                                           
                                <div class="col-md-5">
                                    <div class="form-group">                                       
                                       <label class="bmd-label-floating">Domain</label> 
                                       <select (click)="filterApps()" id="domainList" name="domainlist" class="form-control" [(ngModel)]="domainName">
                                         <option >--Select Domain--</option>
                                         <option (click)="filterApps()" *ngFor="let domain of domainList">{{domain.name}}</option>                    
                                       </select>
       
                                     </div>
                                   </div>

                                   <div class="col-md-5">
                                    <div class="form-group">                                       
                                       <label class="bmd-label-floating">Applications</label> 
                                       <select id="domainList" name="domainlist" class="form-control" multiple="multiple" [(ngModel)]="mappedApplications">
                                         <option >--Select Application--</option>
                                         <option *ngFor="let application of applicationList">{{application.name}}</option>                    
                                       </select>
       
                                     </div>
                                   </div>


                                   <div class="col-md-5">
                                    <div class="form-group">
                                       <label class="bmd-label-floating">Role (e.g Developer,QA..etc.)</label>
                                       <input type="text" name="contact" id="contact"  [(ngModel)]="newUser.role"  class="form-control">
                                     </div>
                                   </div>
                            </div>                             
                            
                            
                            <button type="submit" (click)="createApplicationUser()" class="btn btn-primary pull-right ">Create</button>
                            <button (click)="hideCreateAppUser()" class="btn btn-primary pull-left">Back</button>
                            <div class="clearfix"></div>
                          </form>
                    </div>           
    
                  </div>
                </div>
                 
              
        </div>

              
                 
                

                <div class="row" *ngIf="!showOptions && showDashboard"> 
                    <div class="col-md-12">
                      <div class="card">
                        <!-- <div class="card-avatar">
                          <a href="#pablo">
                            <img class="img" src="../assets/img/images.png" />
                          </a>
                        </div> -->
                        <div class="card-body">
                          
                           
                  <div class="row">                        
                  
                    <div class="col-md-2">
                      <div class="form-group">                                       
                         <label class="bmd-label-floating">1] Domain</label> 
                         <select (click)="filterApps()" [(ngModel)]="domainName" id="lister" name="superuserlist" class="form-control">                           
                           <option value="" [selected]=true>--Select Domain--</option>
                           <option (click)="filterApps()" *ngFor="let domain of domainList">{{domain.name}}</option>
                         </select>                          
                       </div>
                     </div>

                     <div class="col-md-2">
                       <div class="form-group">                                       
                          <label class="bmd-label-floating">2] Appliaction</label> 
                          <select [(ngModel)]="selectedApplication" id="lister" name="superuserlist" class="form-control">
                            <option >--Select Application--</option>
                            <option *ngFor="let application of applicationList">{{application.name}}</option>                    
                          </select>                          
                        </div>
                      </div>

                      <div class="col-md-2">
                       <div class="form-group">                                       
                          <label class="bmd-label-floating">3] Project</label> 
                          <select [(ngModel)]="selectedProject" id="lister" name="projectsList" class="form-control">
                            <option >--Select Project--</option>
                            <option (click)="suview = !suview;viewSuperUser()" *ngFor="let project of projects">{{project.name}}</option>                    
                          </select>                          
                        </div>
                      </div>  

                      

                      <!-- </div>

                      <div class="row" style="align-content: center"> -->

                      <div class="col-md-2">
                          <div class="form-group">                                       
                             <label class="bmd-label-floating">4] Mapping</label> 
                             <select (click)="populateProcessArea()" [(ngModel)]="companyProfileCmmaParameterLevel.mapping" id="lister" name="superuserlist" class="form-control">
                               <option>--Select Mapping--</option>
                               <option  *ngFor="let cmmamapping of cmmaSet">{{cmmamapping}}</option>                    
                             </select>                          
                           </div>
                      </div>

                      <div class="col-md-2">
                        <div class="form-group">                                       
                           <label class="bmd-label-floating">5] Process Area</label> 
                           <select (click)="filterParameter()" [(ngModel)]="companyProfileCmmaParameterLevel.processarea" id="lister" name="superuserlist" class="form-control">
                             <option >--Select Process Area--</option>
                             <option *ngFor="let processArea of processAreaList">{{processArea.processarea}}</option>                    
                           </select>                          
                         </div>
                       </div>

                       <div class="col-md-2">
                        <div class="form-group">                                       
                           <label class="bmd-label-floating">6] Parameter</label> 
                           <select (click)="populateLevels()" [(ngModel)]="companyProfileCmmaParameterLevel.parameter" id="lister" name="superuserlist" class="form-control">
                             <option >--Select Parameter--</option>
                             <option *ngFor="let param of cmmaMetadataParameterLevelArray">{{param.parameter}}</option>                    
                           </select>                          
                         </div>
                       </div>                      

                  </div>         

              <div class="row" >                        
                    
                    <div class="col-md-6">
                        <div class="form-group">                                       
                          <label class="bmd-label-floating">Level 1</label>                                         
                          <textarea class="form-control rounded-0" [(ngModel)]="companyProfileCmmaParameterLevel.level1" id="level1Textarea2" rows="3" class="form-control">{{companyProfileCmmaParameterLevel.level1}}</textarea>                                                        
                        </div>                   
                    </div>            

              <!-- </div> 

              <div class="row" >                         -->
          
                  <div class="col-md-6">
                      <div class="form-group">                                       
                        <label class="bmd-label-floating">Level 2</label>                                         
                        <textarea class="form-control rounded-0" [(ngModel)]="companyProfileCmmaParameterLevel.level2" id="level1Textarea2" rows="3" class="form-control">{{companyProfileCmmaParameterLevel.level2}}</textarea>                                                        
                      </div>
                  </div>            

               </div>
               
               <div class="row" >                        
          
                <div class="col-md-6">
                    <div class="form-group">                                       
                      <label class="bmd-label-floating">Level 3</label>                                         
                      <textarea class="form-control rounded-0" [(ngModel)]="companyProfileCmmaParameterLevel.level3" id="level1Textarea2" rows="3" class="form-control">{{companyProfileCmmaParameterLevel.level3}}</textarea>                                                        
                    </div>
                </div>            

             <!-- </div> 

             <div class="row" >                         -->
          
              <div class="col-md-6">
                  <div class="form-group">                                       
                    <label class="bmd-label-floating">Level 4</label>                                         
                    <textarea class="form-control rounded-0" [(ngModel)]="companyProfileCmmaParameterLevel.level4" id="level1Textarea2" rows="3" class="form-control">{{companyProfileCmmaParameterLevel.level4}}</textarea>                                                        
                  </div>
              </div>            

           </div> 

           <div class="row" >                        
          
            <div class="col-md-6">
                <div class="form-group">                                       
                  <label class="bmd-label-floating">Level 5</label>                                         
                  <textarea class="form-control rounded-0" [(ngModel)]="companyProfileCmmaParameterLevel.level5" id="level1Textarea2" rows="3" class="form-control">{{companyProfileCmmaParameterLevel.level5}}</textarea>                                                        
                </div>
            </div>
            
            <div class="col-md-6">
              <div *ngIf="submissionStatus" class="form-group">                                                       
                <p style="text-decoration-color: crimson">Publish Status - </p>
                <p >Publish Status - {{submissionMessage}}</p>
              </div>
           </div>
         </div>
                          
              <button (click)="configureCmmatemplate()" class="btn btn-primary pull-right">Create</button>
              <button (click)="hideDashboard()" class="btn btn-primary pull-left">Back</button>
                   </div>
                    </div>
                   </div>
    
              </div>

              <div class="row" *ngIf="!showOptions && showFinalDashboard"> 
                <div class="col-md-12">
                  <div class="card">
                    <!-- <div class="card-avatar">
                      <a href="#pablo">
                        <img class="img" src="../assets/img/images.png" />
                      </a>
                    </div> -->
                    <div class="card-body">
                      
                       
              <div class="row">                        
              
                <div class="col-md-2">
                  <div class="form-group">                                       
                     <label class="bmd-label-floating">1] Domain</label> 
                     <select (click)="filterApps()" [(ngModel)]="domainName" id="lister" name="superuserlist" class="form-control">                           
                       <option value="" [selected]=true>--Select Domain--</option>
                       <option (click)="filterApps()" *ngFor="let domain of domainList">{{domain.name}}</option>
                     </select>                          
                   </div>
                 </div>

                 <div class="col-md-2">
                   <div class="form-group">                                       
                      <label class="bmd-label-floating">2] Appliaction</label> 
                      <select [(ngModel)]="selectedApplication" id="lister" name="superuserlist" class="form-control">
                        <option >--Select Application--</option>
                        <option *ngFor="let application of applicationList">{{application.name}}</option>                    
                      </select>                          
                    </div>
                  </div>

                  <div class="col-md-2">
                   <div class="form-group">                                       
                      <label class="bmd-label-floating">3] Project</label> 
                      <select [(ngModel)]="selectedProject" id="lister" name="projectsList" class="form-control">
                        <option >--Select Project--</option>
                        <option (click)="suview = !suview;viewSuperUser()" *ngFor="let project of projects">{{project.name}}</option>                    
                      </select>                          
                    </div>
                  </div>  

                  

                  <!-- </div>

                  <div class="row" style="align-content: center"> -->

                  <div class="col-md-2">
                      <div class="form-group">                                       
                         <label class="bmd-label-floating">4] Mapping</label> 
                         <select (click)="populateProcessArea()" [(ngModel)]="companyProfileCmmaParameterLevel.mapping" id="lister" name="superuserlist" class="form-control">
                           <option>--Select Mapping--</option>
                           <option  *ngFor="let cmmamapping of cmmaSet">{{cmmamapping}}</option>                    
                         </select>                          
                       </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">                                       
                       <label class="bmd-label-floating">5] Process Area</label> 
                       <select (click)="filterParameter()" [(ngModel)]="companyProfileCmmaParameterLevel.processarea" id="lister" name="superuserlist" class="form-control">
                         <option >--Select Process Area--</option>
                         <option *ngFor="let processArea of processAreaList">{{processArea.processarea}}</option>                    
                       </select>                          
                     </div>
                   </div>

                   <div class="col-md-2">
                    <div class="form-group">                                       
                       <label class="bmd-label-floating">6] Parameter</label> 
                       <select (click)="displayDashboard()" [(ngModel)]="companyProfileCmmaParameterLevel.parameter" id="lister" name="superuserlist" class="form-control">
                         <option >--Select Parameter--</option>
                         <option *ngFor="let param of cmmaMetadataParameterLevelArray">{{param.parameter}}</option>                    
                       </select>                          
                     </div>
                   </div>

                   <div class="col-lg-12 col-md-12">
                    <div class="card">
                      <!-- <div class="card-header card-header-warning">
                        <h4 class="card-title">User Information</h4>                            
                      </div> -->
                      <div class="card-body table-responsive">
                        <table class="table table-hover">
                          <thead class="text-warning">
                            <th>Username</th>
                            <th>Domain</th>
                            <th>Application</th>
                            <th>Mapping</th>
                            <th>Process Area</th>
                            <th>Parameter</th>
                            <th>Current Level</th>
                          </thead>
                          <tbody>
                            <tr>
                              <td>{{finalCmmaResult.username}}</td>
                              <td>{{finalCmmaResult.domainname}}</td>
                              <td>{{finalCmmaResult.appname}}</td>
                              <td>{{finalCmmaResult.mapping}}</td>                              
                              <td>{{finalCmmaResult.processarea}}</td>
                              <td>{{finalCmmaResult.parameter}}</td>
                              <td>{{finalCmmaResult.currentlevel}}</td>
                            </tr>                                
                          </tbody>                          
                        </table>
                      </div>
                      <div class="row">
                      
                    </div>
                    </div>
                  </div>
                   
                   
                   

              </div>         

          
           
         

       
                      
          
          <button (click)="hideFinalDashboard()" class="btn btn-primary pull-left">Back</button>
               </div>
                </div>
               </div>

          </div>

        </div>

        
        </div>        
        
        <footer class="footer">
          <div class="container-fluid">
            <nav class="float-left">
              <ul>                
                <li>
                  <a href="https://creative-tim.com/presentation">
                    About Us
                  </a>
                </li>      
    
              </ul>
            </nav> 
            <div class="copyright">
              © 2018 Cognizant Technology Solutions Limited, All Rights Reserved
             </div>            
          </div>
        </footer>        
       </div>
       <script>       
       </script>